body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #363535;
}

nav li:last-child a {
  background-color: #fe5f1e;
  box-shadow: 2px 2px 4px #cfcfcf;
}
nav li:last-child a:hover {
  background: #b23301;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #fe5f1e;
}

section.hero {
  background: #f7f5f5;
}

.size {
  background: #f7f5f5;
}

.add-to-cart {
  border: 2px solid #fe5f1e;
  color: #fe5f1e;
  transition: smooth;
}
.add-to-cart:hover {
  background: #fe5f1e;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-primary {
  background: #fe5f1e;
  transition: smooth;
  box-shadow: 2px 2px 4px #888787;
}
.btn-primary:hover {
  background: #b23301;
}

.menu {
  border-radius: 10px;
  box-shadow: 2px 2px 4px #757575;
}

section.cart {
  background: #f7f5f5;
}
section.cart .amount {
  color: #fe5f1e;
}

.order-now {
  background: #fe5f1e;
  transition: smooth;
  box-shadow: 2px 2px 4px #888787;
}
.order-now:hover {
  background: #b23301;
}

section.login {
  background: #f7f5f5;
  min-height: calc(100vh - 86px);
}
section.login a {
  color: #fe5f1e;
}
section.login a :hover {
  color: #b23301;
}
